
rules_version = '2';

service cloud.firestore {
  match /databases/leads/documents {
    match /email_leads/{leadId} {
      allow read: if true; 
      allow write: if false;
    }
  }
}
